- name: RHSM Subscribe | Get a list of all the files in /etc/yum.repos.d
  find:
    paths: /etc/yum.repos.d
    patterns: "*.repo"
  register: repo_files

- name: RHSM Subscribe | Remove repo files that are not redhat.repo
  file:
    path: "{{ item.path }}"
    state: absent
  when: item.path != "/etc/yum.repos.d/redhat.repo"
  with_items: "{{ repo_files.files }}"

- name: RHSM Subscribe | Using an Activation Key for register to Red Hat CDN
  redhat_subscription:
    state: present
    activationkey: "{{ satellite_rhn_activation_key }}"
    org_id: "{{ satellite_rhn_org }}"
    pool: "{{ satellite_rhn_pool_id }}"
    force_register: true
  when: satellite_rhn_activation_key|length > 0

- name: RHSM Subscribe | Using an Username for register to Red Hat CDN
  redhat_subscription:
    state: present
    username: "{{ satellite_rhn_username }}"
    password: "{{ satellite_rhn_password }}"
    pool: "{{ satellite_rhn_pool_id }}"
    force_register: true
  when: satellite_rhn_username|length > 0
